Makefile*
*.opensdf
.qmake.cache
debug/
Debug/
Release/
ipch/
release/
objects/
Output/
GeneratedFiles/
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.log
*.ncb
*.user
*.suo
*.aps
*.sdf
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.dat
*.tgz
*.bz2
*.pro.user*
.DS_store
